/* @import './images/pexels-igor-starkov-1117452.jpg'; */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header{
  width: 100%;
  height: 10vh;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: rgb(23,54,93);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/1117452/pexels-photo-1117452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: auto;
}

 .aff-box{
   overflow: auto;
   box-sizing: border-box;
   width: 90%;
   height: 30vh;
   padding: 20px;
   margin: 25px;
   border-radius: 5px;
   background-color: rgb(211, 211, 211);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
   -webkit-box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
   -moz-box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
 }

 .aff-title{
  font-weight: bolder;
  text-decoration: underline;
   height: fit-content;
   width: fit-content;
   margin-bottom: 25px;
   margin-top: 30px;
   box-sizing: border-box;
   font-size: 1.5vw;
   font-family: sans-serif;
   /* font-family: 'Source Sans Pro', sans-serif; */
   color:rgb(23,54,93);
 }

 .aff-statement{
   height: 90%;
   width: 90%;
   word-wrap: break-word;
   box-sizing: border-box;
   font-size: 1.3em;
   font-family: sans-serif;
   color: rgb(23,54,93);
 }

 .claims-box{
   width: 100%;
   height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 141, 141);
   border-top: 5px solid  rgb(23,54,93);
   border-bottom: 5px solid rgb(211, 211, 211);
   /* border-style: solid; */
   /* border-width: thick; */
 }

 .claims{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 25%;
   width: 80%;
 }

 .claims-title{
   font-size: x-large;
   font-family: sans-serif;
   color: rgb(23,54,93)
 }

 .claims-address{
  font-size: x-large;
  font-family: sans-serif;
  color: rgb(23,54,93)
 }

 .contact-box{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10vh;
   background-color: rgb(23,54,93);
 }

 .address{
   color:rgb(211, 211, 211) ;
 }

 .contact{
  overflow: auto;
  box-sizing: border-box;
  width: 90%;
  height: 50vh;
  padding: 20px;
  margin: 25px;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
  -webkit-box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
  -moz-box-shadow: 1px 3px 36px 14px rgba(0,0,0,0.86);
 }

 .contact-left-side{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 90%;
   width: 50%;
   padding: 25px;
   border-right: solid 1px gray ;
 }

 .contact-statement{
  font-size: 1.3em;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(23,54,93)
}

 .contact-right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
   height: 90%;
   width: 50%;
   padding: 25px;
 }

 .contact-title{
   font-size: 1.3em;
   font-weight: bolder;
   text-decoration: underline;
   color: rgb(23,54,93);
   font-family: sans-serif;
 }

 .contact-info{
  font-family: sans-serif;
  text-align: center;
 }
 



 @media screen and (min-width: 320px) and (max-width: 1074px ) {
   .aff-box{
     display: flex;
     align-items: center;
     height: fit-content;
     width: 95%;
   }

   .aff-title{
     font-size: 20px;
     font-weight: bold;
   }

   .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 95%;
   }

   .contact-statement{
     line-height: normal;
   }
   
   .contact-title{
     text-align: center;
   }

   .contact-right-side{
     height: fit-content;
     width: fit-content;
     /* line-height: normal; */
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
   }

   .contact-left-side{
     height: fit-content;
     width: fit-content;
     border-right: none;
     border-bottom: 1px solid gray;
   }

   .contact-info{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px;
     text-align: center;
   }
 }